.cardRentals {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.1);
    width: 15em;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 1em;
    .delete {
        margin-left: 100%;
        .boton-delete {
          
                background-color: #0A283E;
                color: white;
              
                border: none;
                border-radius: 50%;
                cursor: pointer;
                max-width: 100%;
                margin: auto;
                height: 1.5em;
            
        }
    }
}
