.Padre {
    .Profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .Logo-ideal {
            height: 15em;
            width: 15em;
            margin-top: .5em;
            border-radius: 100em;
            border: 0.2em black solid;
        }
        form {
            legend {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2em;
            }
            .imput{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .content-button {
            display:flex;
            flex-direction: row;
            justify-content: center;
            padding: 2em;
            margin-left: 2px;
            .buton-entrar{
                padding: 0 20px;
                background-color: #0A283E;
                color: white;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                max-width: 100%;
                margin-right: 1.5em;
                height: 2.5em;
            }
        }
    }
}
