.cartDetails{
    background-color: #fff;
    position: absolute;
    margin-top: 30;
    box-shadow: 1px 5px 5px rgba($color: #000000, $alpha: .3);
    border-radius: 5px;
    width: 300px;
    right: 2em;
}
.ul{
    font-size: 12.5px;
    padding: 0%;
    margin: 0;
}
.movie{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    border-bottom: 1px solid #aaa;
}
.buttonShop{
    text-align: center;
    margin: 1rem 4.7rem;
    width: 150px;
}
.total{
    text-align: end;
    margin-right: 5px;
}