.cart {
    background-color: #359A2C;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 20px;
}
.bubble{
    position: relative;
    left: 15px;
    top: 18px;
}